    <div id="user_nav">    
      <% if user_signed_in? %>    
        <%= current_user.username %>
        <%= link_to "登出", destroy_user_session_path %>    
      <% else %>    
        <%= link_to "Sign in", new_user_session_path %>    
      <% end %>    
    </div>   
<h1>后台管理</h1>
<%= link_to "修改信息",  edit_user_registration_path %>