
/*reset*/
body,p,h1,h2,h3,h4,h5,h6,dd,dl,dt,th,td,ul,li,ol,form,input,select,textarea,button,pre,legend{ margin:0;padding:0;}
button, input, select, textarea {font: 12px Arial,Helvetica,sans-serif; vertical-align:middle; outline:none;}
h1, h2, h3, h4, h5, h6 { font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
img,fieldset{ border:0;}
address,cite,dfn,em,var,i{font-style:normal;}
ul,ol{list-style-type:none;}
sup{ vertical-align: text-top; }
sub{ vertical-align: text-bottom; }
.jianju_x{clear:both; height:10px;}


/*边距*/
.mt6{margin-top:6px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt12{margin-top:12px;}
.mt20{margin-top:20px;}
.mb8{margin-bottom:8px;}
.mb10{margin-bottom:10px;}
.ml8{margin-left:8px; display:inline;}
.mr8{margin-left:8px; display:inline;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}
/*字体*/
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.b{font-weight:bold;}
/*color*/
.pink{color:#FF007E!important;}
.gary{color:#666666!important;}
/*浮动*/
.fl{float:left;}
.fr{float:right;}
.clear {clear: both;}
.clearfix:after {clear:both; content:'';display: block;font-size: 0;line-height: 0;visibility: hidden;  width: 0;height: 0;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}

.h32 {height:32px;}
.h60 {height:60px;}
.lh60 {line-height:60px;}
.lh80 {line-height:80px;}
.claretred {color:#e01800;}
.w158 {width:158px;}
.ml50 {margin-left:130px;}
.goodsordermain .blueness {color:#005EA7;}
.w80{width:80px;}
.w86{width:86px;}

@charset "utf-8";
/* CSS Document */

body {
  font-size:12px; 
  font-family: "Microsoft YaHei"; 
  color:#666666;
}

.login_head {
  width:100%;
  height:90px;
  background:#ff8400;
}
.headmain {
  width:980px;
  height:90px;
  background:url(logo_03.jpg) no-repeat 0 15px;
  margin:0 auto;
}
.login {
  width:980px;
  margin:0 auto;
  margin-top:50px;
}
.login_left {
  float:left;
  width:500px;
  margin-right:110px;
}
.login_right {
  width:360px;
  float:left;
  height:360px;
  background:#fafafa;
  border:1px solid #e9e9e9;
  -webkit-box-shadow: 1px 1px 5px #ccc;
  -moz-box-shadow: 1px 1px 5px #ccc;
  box-shadow: 1px 1px 5px #ccc;
}
.login_right h2 {
  line-height:60px;
  padding-left:25px;
  font-size:18px;
  color:#111111;
  font-weight:normal;
}
.fotter {
  clear:both;
  border-top:1px solid #e9e9e9;
  width:980px;
  margin:450px auto 0 auto;
  color:#333;
  line-height:40px; 
}
.item {
  clear: both;
  padding: 10px 0 10px 0;
  font-size: 14px;
  height:26px;
} 

.wrong {
  margin-left:100px;
  height:20px;
  line-height:20px;
  width:200px;
  font-size:12px;
  color:#ff0003;
  border:1px solid #ffddcf;
  padding-left:10px;
  border-radius: 2px 2px 2px 2px;
  background:#ffefe9 url(close_06.gif) 193px 5px no-repeat;
}
.labe {
  float: left;
  line-height: 32px;
  text-align: right;
  display:block;
}
.labe span {
  color:#F00;
}
.w90 {
  width:90px;
}
.w100 {
  width:100px;
}
.w120 {
  width:120px;
}
.w240 {
  width:240px;
}
.agreementx {
  padding-left:100px;
  font-size:12px;
}
.agreement {
  display:block;
  float:left;
  margin:2px 5px 0 0;
  
}

/*不带图标输入框样式*/
.basic-input {
  border: 1px solid #e2e2e2;
  font-size: 12px;
  height:24px;
  line-height:24px;
  padding-left:10px;
  vertical-align: middle;
  display:block;
  float:left;
  width:200px;
  margin-top:5px;
}
.btn_submit {
  background:#f35d46;
  border:none;
  color:#fff;
  width:90px;
  height:30px;
  margin-left:100px;
  border-radius:4px;
  font-family: "Microsoft YaHei";
  cursor:pointer;
}
.gayline {
  width:310px;
  height:10px;
  border-bottom:1px solid #e9e9e9;
  margin:15px 25px;
  clear:both;
}
.register {
  padding-left:30px;
}
.login_right a:link {
  color:#f35d46;
  text-decoration:none;
}
.login_right a:hover {
  color:#f35d46;
  text-decoration:none;
}
.login_right a:visited {
  color:#f35d46;
  text-decoration:none;
}

